

/*---------------------------------------------------------------------------------*/
/*--  PRE-SET ELEMENTS
/*---------------------------------------------------------------------------------*/


html {
  background-color: #F2F2F2;
  height: 100%;
  width: 100%; 
}

body {    
  text-align: center; 
  font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
  font-weight: bold;
  font: 15px; 
  height: 100%;
  width: 100%; 
}
h1 {  
  padding:0px;
  margin: 0px;
  color: #4C4C4D; 
  font-size: 50px;      
}
h2 {
  padding: 0px;
  margin: 0px;
  color: #4C4C4D;    
  font-size: 40px; 
}
h3 {
  padding: 0px;
  margin: 0px;
  font: 18px;  
  font-size: 30px; 
}

input {
  clear: left;
  margin-right: 0px;
  border-radius: 3px;
  border: 1px solid #CCCCCC;
}

/*---------------------------------------------------------------------------------*/
/*-- STRUCTURE CLASSES
/*---------------------------------------------------------------------------------*/

.main {
  background-color: #F8F8F8;  
  color: #636363;
  border-bottom: 2px solid #C4C4C4;
  border-radius: 2px;
  padding: 50px;
  display: inline-block;
  box-shadow: 0px 1px 5px rgb(162, 162, 162);
}

.heading {
  padding:0px;
  margin: 0px;
  color: #4C4C4D; 
  font-size: 50px;     
}

.content {
}

.message {
  margin-top: 5px;
  padding: 5px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #F2F2F2;  
  color: #4F1B21;
  border-bottom: 2px solid #C4C4C4;
  border-radius: 2px;
  width: 50%;
  display: inline-block; 
  font: 12px; 
}


/*---------------------------------------------------------------------------------*/
/*-- MINOR CLASSES
/*---------------------------------------------------------------------------------*/

.game_table {
  border-spacing: 1px 1px;
  border-collapse: collapse;
  padding-right: 4px;
}

.game_cell {
  height: 50px;
  width: 75px;
  border-spacing: 1px;
  border: 1px solid #B8B8B8;
}

.subtext {
  font: 10px;
  background:none;
  border:none;
}

.link {
  cursor: pointer; 
  cursor: hand; 
  color:blue;
}

.create_fields {
  text-align: right;
  margin-right: 5%;
}

.login_fields {
  text-align: right;
  margin: auto;
  width: 260px;
}

.false_button {  
  color: #FDFDFD;
  
  border-radius: 3px;
  border: 1px solid;
  
  cursor: pointer; 
  cursor: hand; 
}
.false_button:active {
  border: 1px solid #888484;  
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),0 0 12px rgba(153, 151, 151, 0.75);
}

.fill {
  width: 100%;
  height: 100%;
}

.red {
  background-color: #9E3737;
  color: #F2F2F2;  
}
.green {
  background-image: linear-gradient(#8add6d, #60b044);
  background-repeat: repeat-x;
  border: 1px solid #5ca941;
}
.blue {
  background-image:  linear-gradient(#54BEAD, #3D98A0);
  background-repeat: repeat-x;
  border: 1px solid #6194B1;  
}
.grey {
  background-image: linear-gradient(#F5F5F5, #D3D5D2);
  background-repeat: repeat-x;
  border: 1px solid #C2BFBF;
  color: #535151;
}

.inactive {
  margin:10px;
  background-color: #CCCCCC;
  color: #444445;
  border: 1px solid #CCCCCC;
  border-bottom: 2px solid #CCCCCC;
  cursor: default; 
}

.standard_input {
  margin-top: 5px;
  margin-bottom: 5px;
  clear: left;
  border-radius: 3px; 
  width: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  vertical-align: middle;

}

.standard_input:hover {
 -khtml-opacity:.90; 
 -moz-opacity:.90; 
 -ms-filter:"alpha(opacity=90)";
  filter:alpha(opacity=90);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.9);
  opacity:.90; 
}

.standard_input:focus {
  outline: none;
  border-radius: 3px;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),0 0 12px rgba(153, 151, 151, 0.75);
}

.text_field {
  padding-left: 3%;
  padding-right: 3%;
  width: 94%;
  color: #535151;
  border: 1px solid #CCCCCC;
}

.main_image {
  margin: 15px;
}

.main_image.hangman {
  margin: 15px;
  height: 200px; 
  width: 200px;
}

.subheading {
  margin: 15px;
}

.main_form {
  width: 300px;
  margin: auto;
}

.message_header {
  font: 20px;
}
.message_subtext {
  font: 17px;
}

.split {
  width: 48%;
}

.split.left {
  float: left;
}

.split.right {
  float: right;
}

/*---------------------------------------------------------------------------------*/
/*-- MINOR CLASSES
/*---------------------------------------------------------------------------------*/

.wrong_location {
  color: #02079C;
  background-color: #DEDFFA;
}

.right_location {
  color: #9C0202;
  background-color: #FADEDE;
}

.wrong_letter {
  color: #636262;
  background-color: #CCCCCC;
}

.active {
  background-color: #7FD46E;
  width: 1px;
  height: 50px;
}

.turn_marker {
  width: 1px;
  height: 50px;
}