

/*---------------------------------------------------------------------------------*/
/*--  PRE-SET ELEMENTS
/*---------------------------------------------------------------------------------*/


html {
  background-color: #F2F2F2;
}

body {    
  text-align: center; 
  font-family: arial;  
  font: bold 15px Arial; 
  height: 100%;
  width: 100%; 
}
h1 {  
  padding:0px;
  margin: 0px;
  color: #4C4C4D;       
}
h2 {
  padding: 0px;
  margin: 0px;
}
h3 {
  padding: 0px;
  margin: 0px;
  font: bold 18px Arial;  
}

input {
  clear: left;
  margin-right: 0px;
  border-radius: 3px;
  border: 1px solid #CCCCCC;
}

/*---------------------------------------------------------------------------------*/
/*-- STRUCTURE CLASSES
/*---------------------------------------------------------------------------------*/

.main {
  background-color: #F8F8F8;  
  color: #636363;
  border-bottom: 2px solid #C4C4C4;
  border-radius: 2px;
  height: 60%;
  width: 50%;
  display: inline-block;
  box-shadow: 0px 1px 5px rgb(162, 162, 162);
}

.heading {
  margin-top: 5px;
  padding-top: 5px;
  padding: 30px;
  border-bottom: 1px solid #DEDEDE;
  font: bold 20px Arial;  
}

.content {
  padding: 50px;
}

.message {
  margin-top: 5px;
  padding: 5px;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #F2F2F2;  
  color: #4F1B21;
  border-bottom: 2px solid #C4C4C4;
  border-radius: 2px;
  width: 50%;
  display: inline-block; 
  font: bold 12px Arial; 
}


/*---------------------------------------------------------------------------------*/
/*-- MINOR CLASSES
/*---------------------------------------------------------------------------------*/

.game_table {
  border-spacing: 1px 1px;
  border-collapse: collapse;
  padding-right: 4px;
}

.game_cell {
  height: 50px;
  width: 75px;
  border-spacing: 1px;
  border: 1px solid #B8B8B8;
}

.subtext {
  font: 10px arial;
  background:none;
  border:none;
}

.link {
  cursor: pointer; 
  cursor: hand; 
  color:blue;
}

.create_fields {
  text-align: right;
  margin-right: 5%;
}

.login_fields {
  text-align: right;
  margin: auto;
  width: 260px;
}

.false_button {
  margin:10px;
  border-radius: 3px;
  text-decoration: none;
  background-image: linear-gradient(#5CB6C2, #669BB9);
  color: #FDFDFD;
  padding: 2px 6px 2px 6px;
  border: 0.5px solid #4C5CB5;
  cursor: pointer; 
  cursor: hand; 
  font: bold 15px Arial;  
  display: inline-block;
  vertical-align:middle;
}

.red {
  background-color: #9E3737;
  color: #F2F2F2;  
}
.green {
  background-color: #69DB69;
  color: #444445;
}

.inactive {
  margin:10px;
  background-color: #CCCCCC;
  color: #444445;
  border: 1px solid #CCCCCC;
  border-bottom: 2px solid #CCCCCC;
  cursor: default; 
}

.standard_input {
  width: 90%;
  padding: 5px;
  margin: 10px;
  clear: left;
  border-radius: 3px;
  border: 1px solid #CCCCCC;
}

.text_field {
  padding-left:10px;
  color: #979696;
}

.main_form {
  width: 70%;
  margin: auto;
}

.message_header {
  font: bold 20px arial;
}
.message_subtext {
  font: bold 17px arial;
}

/*---------------------------------------------------------------------------------*/
/*-- MINOR CLASSES
/*---------------------------------------------------------------------------------*/

.wrong_location {
  color: #02079C;
  background-color: #DEDFFA;
}

.right_location {
  color: #9C0202;
  background-color: #FADEDE;
}

.wrong_letter {
  color: #636262;
  background-color: #CCCCCC;
}

.active {
  background-color: #7FD46E;
  width: 1px;
  height: 50px;
}

.turn_marker {
  width: 1px;
  height: 50px;
}